gnureadline
docker-compose
pipenv
bcrypt
pysocks
redis
systemd
flask>=2.2.2
pam
python-bitcoinrpc
prometheus_client
psutil
transmissionrpc
qrcode
image
pyudev
inotify_simple
glances
bottle
django>=4.2.15 # not directly required, pinned by Snyk to avoid a vulnerability